<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="../../assets/ico/favicon.ico">
<title>School of Medicine Curriculum Framework::Course Overview - Flinders Medical Graduate Outcomes</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">


<!-- Just for debugging purposes. Don't actually copy this line! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>   
    
<script type="text/javascript" src="https://flextra-dev.flinders.edu.au/flex/resource/ocf/js/jquery-1.9.1.js"></script>

<script type="text/javascript" src="https://flextra-dev.flinders.edu.au/flex/resource/ocf/js/jquery-ui-1.10.2.custom.js"></script>
<script type="text/javascript" src="https://flextra-dev.flinders.edu.au/flex/resource/ocf/js/jquery-ui-1.10.2.custom.min.js"></script>




<style type="text/css">
<!--

.vertical-text {
	display: inline-block;
	overflow: hidden;
	width: 1.5em;
}
.vertical-text__inner {
	display: inline-block;
	white-space: nowrap;
	line-height: 1.5;
	transform: translate(0,100%) rotate(-90deg);
	transform-origin: 0 0;
}
/* This element stretches the parent to be square
   by using the mechanics of vertical margins  */
.vertical-text__inner:after {
	content: "";
	display: block;
	margin: -1.5em 0 100%;
}

@media print {
	
  a[href]:after {
    content: "";
  }
}
-->
</style>

<script type="text/javascript">

$('document').ready(function() {
							 
	$('.popover').popover();	
		
							 
 });



</script>


</head>
<body role="document">



<div class="container-fluid" style="margin:0 20px 0 20px;">

<div role="main">
  <div class="page-header">
    <h2>School of Medicine Curriculum Framework</h2>
  </div>
  
<div class="row">
<h3>Course Outcome ::<span style="padding:5px; width: 22em;">CP - Know</span></h3>
<div id="myNav" class="span10"></div>




<!-- 

<pre>     


Array
(
    [tcode] => MMED8102
    [topicTitle] => Doctor and Patient 1B
    [description] => 
    [ocIntro] => On completion of this topic, students will be expected to be able to:
    [topic] => Array
        (
            [los] => Array
                (
                    [lo1] => Array
                        (
                            [loSysID] => t|lo|1392579162893
                            [name] => Improve upon their ability to establish an effective therapeutic relationship with patient by responding and acting on the feedback provided in Sem 1. (See LO 1 MMED8101)
                            [code] => LO1
                            [course] => Array
                                (
                                    [lo2] => Array
                                        (
                                            [catcode] => CP
                                            [sysid] => MD|lo|1392579792218
                                            [code] => Know
                                            [name] => Can apply core and integrated medical and scientific knowledge to individual patients in clinical practice and to populations and health systems to make judgments and provide optimal, ethical, and patient-centred medical and health care.
                                        )

                                    [lo4] => Array
                                        (
                                            [catcode] => CP
                                            [sysid] => MD|lo|1392579792225
                                            [code] => Communicate
                                            [name] => Can communicate effectively and culturally appropriately in diverse and inter-professional health care teams to illicit information needed to support accurate problem formulation and optimal health care provision to diverse populations.
                                        )

                                    [lo5] => Array
                                        (
                                            [catcode] => HS
                                            [sysid] => MD|lo|1392579792233
                                            [code] => Understand
                                            [name] => Understands the Australian health care systems, the social determinants of health as well as the variance of health and illness models across diverse cultures and appreciates the need for social justice and advocacy in the delivery of health care.
                                        )

                                )

                            [prof] => Array
                                (
                                    [lo7] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.1
                                            [name] => Demonstrate a commitment to excellence, evidence based practice and the generation of new scientific knowledge.
                                        )

                                    [lo14] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.8
                                            [name] => Elicit patients’ questions and their views, concerns and preferences, promote rapport, and ensure patients’ full understanding of their problem(s). Involve patients in decision- making and planning their treatment, including communicating risk and benefits of management options.
                                        )

                                    [lo15] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.9
                                            [name] => Provide information to patients, and family/carers where relevant, to enable them to make a fully informed choice among various diagnostic, therapeutic and management options.
                                        )

                                    [lo20] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.14
                                            [name] => Place the needs and safety of patients at the centre of the care process. Demonstrate safety skills including infection control, graded assertiveness, adverse event reporting and effective clinical handover.
                                        )

                                    [lo24] => Array
                                        (
                                            [catcode] => HS
                                            [code] => 3.3
                                            [name] => Communicate effectively in wider roles including health advocacy, teaching, assessing and appraising.
                                        )

                                    [lo25] => Array
                                        (
                                            [catcode] => HS
                                            [code] => 3.4
                                            [name] => Understand and describe the factors that contribute to the health and wellbeing of Aboriginal and Torres Strait Islander peoples and/or Māori, including history, spirituality and relationship to land, diversity of cultures and communities, epidemiology, social and political determinants of health and health experiences. Demonstrate effective and culturally competent communication and care for Aboriginal and Torres Strait Islander peoples and/or Māori.
                                        )

                                    [lo32] => Array
                                        (
                                            [catcode] => PL
                                            [code] => 4.2
                                            [name] => Demonstrate professional values including commitment to high quality clinical standards, compassion, empathy and respect for all patients. Demonstrate the qualities of integrity, honesty, leadership and partnership to patients, the profession and society.
                                        )

                                    [lo34] => Array
                                        (
                                            [catcode] => PL
                                            [code] => 4.4
                                            [name] => Explain the main principles of ethical practice and apply these to learning scenarios in clinical practice. Communicate effectively about ethical issues with patients, family and other health care professionals.
                                        )

                                )

                        )

                    [lo2] => Array
                        (
                            [loSysID] => t|lo|1392579177976
                            [name] => Demonstrate expected standards of professional behaviour with staff, students and patients including responding appropriately to feedback provided.
                            [code] => LO2
                            [course] => Array
                                (
                                    [lo2] => Array
                                        (
                                            [catcode] => CP
                                            [sysid] => MD|lo|1392579792218
                                            [code] => Know
                                            [name] => Can apply core and integrated medical and scientific knowledge to individual patients in clinical practice and to populations and health systems to make judgments and provide optimal, ethical, and patient-centred medical and health care.
                                        )

                                    [lo4] => Array
                                        (
                                            [catcode] => CP
                                            [sysid] => MD|lo|1392579792225
                                            [code] => Communicate
                                            [name] => Can communicate effectively and culturally appropriately in diverse and inter-professional health care teams to illicit information needed to support accurate problem formulation and optimal health care provision to diverse populations.
                                        )

                                    [lo6] => Array
                                        (
                                            [catcode] => PL
                                            [sysid] => MD|lo|1392579792242
                                            [code] => Learn
                                            [name] => Is an independent, collaborative, self-regulating learner who is aware of the limitations of their own knowledge and capabilities and has a commitment to address these in ongoing professional learning. 
                                        )

                                    [lo7] => Array
                                        (
                                            [catcode] => PL
                                            [sysid] => MD|lo|1392579792245
                                            [code] => Lead
                                            [name] => Can exercise leadership in wider roles of health advocacy, teaching, assessing, and appraising.
                                        )

                                    [lo8] => Array
                                        (
                                            [catcode] => PL
                                            [sysid] => MD|lo|1392579792249
                                            [code] => Interact
                                            [name] => Knows and demonstrates a commitment to high standards of personal and professional behavior with patients and their families, colleagues and inter-professional teams.
                                        )

                                )

                            [prof] => Array
                                (
                                    [lo7] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.1
                                            [name] => Demonstrate a commitment to excellence, evidence based practice and the generation of new scientific knowledge.
                                        )

                                    [lo14] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.8
                                            [name] => Elicit patients’ questions and their views, concerns and preferences, promote rapport, and ensure patients’ full understanding of their problem(s). Involve patients in decision- making and planning their treatment, including communicating risk and benefits of management options.
                                        )

                                    [lo22] => Array
                                        (
                                            [catcode] => HS
                                            [code] => 3.1
                                            [name] => Accept responsibility to protect and advance the health and wellbeing of individuals, communities and populations.
                                        )

                                    [lo31] => Array
                                        (
                                            [catcode] => PL
                                            [code] => 4.1
                                            [name] => Provide care to all patients according to “Good Medical Practice: A Code of Conduct for Doctors in Australia” and “Good Medical Practice: A Code of Conduct for Doctors in New Zealand”.
                                        )

                                    [lo32] => Array
                                        (
                                            [catcode] => PL
                                            [code] => 4.2
                                            [name] => Demonstrate professional values including commitment to high quality clinical standards, compassion, empathy and respect for all patients. Demonstrate the qualities of integrity, honesty, leadership and partnership to patients, the profession and society.
                                        )

                                    [lo33] => Array
                                        (
                                            [catcode] => PL
                                            [code] => 4.3
                                            [name] => Describe the principles and practice of professionalism and leadership in health care.
                                        )

                                    [lo34] => Array
                                        (
                                            [catcode] => PL
                                            [code] => 4.4
                                            [name] => Explain the main principles of ethical practice and apply these to learning scenarios in clinical practice. Communicate effectively about ethical issues with patients, family and other health care professionals.
                                        )

                                    [lo35] => Array
                                        (
                                            [catcode] => PL
                                            [code] => 4.5
                                            [name] => Demonstrate awareness of factors that affect doctors’ health and wellbeing, including fatigue, stress management and infection control, to mitigate health risks of professional practice. Recognise their own health needs, when to consult and follow advice of a health professional and identify risks posed to patients by their own health.
                                        )

                                    [lo37] => Array
                                        (
                                            [catcode] => PL
                                            [code] => 4.7
                                            [name] => Demonstrate awareness of and explain the options available when personal values or beliefs may influence patient care, including the obligation to refer to another practitioner.
                                        )

                                    [lo38] => Array
                                        (
                                            [catcode] => PL
                                            [code] => 4.8
                                            [name] => Describe and respect the roles and expertise of other health care professionals, and demonstrate ability to learn and work effectively as a member of an inter-professional team or other professional group.
                                        )

                                    [lo39] => Array
                                        (
                                            [catcode] => PL
                                            [code] => 4.9
                                            [name] => Self-evaluate their own professional practice; demonstrate lifelong learning behaviours and fundamental skills in educating colleagues. Recognise the limits of their own expertise and involve other professionals as needed to contribute to patient care.
                                        )

                                )

                        )

                    [lo3] => Array
                        (
                            [loSysID] => t|lo|1392579190118
                            [name] => Demonstrate that they have progressed the effectiveness of their communication skills including active listening, understanding for verbal and non-verbal communication and gathering information sensitively based on the feedback provided in semester 1.
                            [code] => LO3
                            [course] => Array
                                (
                                    [lo2] => Array
                                        (
                                            [catcode] => CP
                                            [sysid] => MD|lo|1392579792218
                                            [code] => Know
                                            [name] => Can apply core and integrated medical and scientific knowledge to individual patients in clinical practice and to populations and health systems to make judgments and provide optimal, ethical, and patient-centred medical and health care.
                                        )

                                    [lo4] => Array
                                        (
                                            [catcode] => CP
                                            [sysid] => MD|lo|1392579792225
                                            [code] => Communicate
                                            [name] => Can communicate effectively and culturally appropriately in diverse and inter-professional health care teams to illicit information needed to support accurate problem formulation and optimal health care provision to diverse populations.
                                        )

                                )

                            [prof] => Array
                                (
                                    [lo7] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.1
                                            [name] => Demonstrate a commitment to excellence, evidence based practice and the generation of new scientific knowledge.
                                        )

                                    [lo8] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.2
                                            [name] => Elicit an accurate, organised and problem-focussed medical history, including family and social occupational and lifestyle features, from the patient, and other sources.
                                        )

                                    [lo14] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.8
                                            [name] => Elicit patients’ questions and their views, concerns and preferences, promote rapport, and ensure patients’ full understanding of their problem(s). Involve patients in decision- making and planning their treatment, including communicating risk and benefits of management options.
                                        )

                                    [lo15] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.9
                                            [name] => Provide information to patients, and family/carers where relevant, to enable them to make a fully informed choice among various diagnostic, therapeutic and management options.
                                        )

                                    [lo20] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.14
                                            [name] => Place the needs and safety of patients at the centre of the care process. Demonstrate safety skills including infection control, graded assertiveness, adverse event reporting and effective clinical handover.
                                        )

                                    [lo24] => Array
                                        (
                                            [catcode] => HS
                                            [code] => 3.3
                                            [name] => Communicate effectively in wider roles including health advocacy, teaching, assessing and appraising.
                                        )

                                    [lo25] => Array
                                        (
                                            [catcode] => HS
                                            [code] => 3.4
                                            [name] => Understand and describe the factors that contribute to the health and wellbeing of Aboriginal and Torres Strait Islander peoples and/or Māori, including history, spirituality and relationship to land, diversity of cultures and communities, epidemiology, social and political determinants of health and health experiences. Demonstrate effective and culturally competent communication and care for Aboriginal and Torres Strait Islander peoples and/or Māori.
                                        )

                                    [lo32] => Array
                                        (
                                            [catcode] => PL
                                            [code] => 4.2
                                            [name] => Demonstrate professional values including commitment to high quality clinical standards, compassion, empathy and respect for all patients. Demonstrate the qualities of integrity, honesty, leadership and partnership to patients, the profession and society.
                                        )

                                    [lo34] => Array
                                        (
                                            [catcode] => PL
                                            [code] => 4.4
                                            [name] => Explain the main principles of ethical practice and apply these to learning scenarios in clinical practice. Communicate effectively about ethical issues with patients, family and other health care professionals.
                                        )

                                    [lo37] => Array
                                        (
                                            [catcode] => PL
                                            [code] => 4.7
                                            [name] => Demonstrate awareness of and explain the options available when personal values or beliefs may influence patient care, including the obligation to refer to another practitioner.
                                        )

                                )

                        )

                    [lo4] => Array
                        (
                            [loSysID] => t|lo|1392579198046
                            [name] => Demonstrate the ability to take a complete patient history; in particular a Cardio-vascular, Respiratory and Renal system presentation including asking system, diagnostic and background questions.
                            [code] => LO4
                            [course] => Array
                                (
                                    [lo2] => Array
                                        (
                                            [catcode] => CP
                                            [sysid] => MD|lo|1392579792218
                                            [code] => Know
                                            [name] => Can apply core and integrated medical and scientific knowledge to individual patients in clinical practice and to populations and health systems to make judgments and provide optimal, ethical, and patient-centred medical and health care.
                                        )

                                    [lo4] => Array
                                        (
                                            [catcode] => CP
                                            [sysid] => MD|lo|1392579792225
                                            [code] => Communicate
                                            [name] => Can communicate effectively and culturally appropriately in diverse and inter-professional health care teams to illicit information needed to support accurate problem formulation and optimal health care provision to diverse populations.
                                        )

                                )

                            [prof] => Array
                                (
                                    [lo7] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.1
                                            [name] => Demonstrate a commitment to excellence, evidence based practice and the generation of new scientific knowledge.
                                        )

                                    [lo8] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.2
                                            [name] => Elicit an accurate, organised and problem-focussed medical history, including family and social occupational and lifestyle features, from the patient, and other sources.
                                        )

                                    [lo14] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.8
                                            [name] => Elicit patients’ questions and their views, concerns and preferences, promote rapport, and ensure patients’ full understanding of their problem(s). Involve patients in decision- making and planning their treatment, including communicating risk and benefits of management options.
                                        )

                                )

                        )

                    [lo5] => Array
                        (
                            [loSysID] => t|lo|1392579214163
                            [name] => Demonstrate an ability to perform physical examination on the following body systems: Cardio-vascular, Respiratory and generic abdomen. 
                            [code] => LO5
                            [course] => Array
                                (
                                    [lo2] => Array
                                        (
                                            [catcode] => CP
                                            [sysid] => MD|lo|1392579792218
                                            [code] => Know
                                            [name] => Can apply core and integrated medical and scientific knowledge to individual patients in clinical practice and to populations and health systems to make judgments and provide optimal, ethical, and patient-centred medical and health care.
                                        )

                                )

                            [prof] => Array
                                (
                                    [lo9] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.3
                                            [name] => Perform a full and accurate physical examination, including a mental state examination, or a problem-focused examination as indicated.
                                        )

                                )

                        )

                    [lo6] => Array
                        (
                            [loSysID] => t|lo|1392579224238
                            [name] => Demonstrate the ability to present the symptoms and signs in a comprehensive but succinct verbal and written format including the ability to summarise and generate a problem list.
                            [code] => LO6
                            [course] => Array
                                (
                                    [lo2] => Array
                                        (
                                            [catcode] => CP
                                            [sysid] => MD|lo|1392579792218
                                            [code] => Know
                                            [name] => Can apply core and integrated medical and scientific knowledge to individual patients in clinical practice and to populations and health systems to make judgments and provide optimal, ethical, and patient-centred medical and health care.
                                        )

                                    [lo3] => Array
                                        (
                                            [catcode] => CP
                                            [sysid] => MD|lo|1392579792222
                                            [code] => Intervene
                                            [name] => Can use preventative and therapeutic interventions effectively, legally and ethically to diagnose and ensure quality care and patient safety
                                        )

                                    [lo4] => Array
                                        (
                                            [catcode] => CP
                                            [sysid] => MD|lo|1392579792225
                                            [code] => Communicate
                                            [name] => Can communicate effectively and culturally appropriately in diverse and inter-professional health care teams to illicit information needed to support accurate problem formulation and optimal health care provision to diverse populations.
                                        )

                                )

                            [prof] => Array
                                (
                                    [lo10] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.4
                                            [name] => Integrate and interpret findings from the history and examination, to arrive at an initial assessment including a relevant differential diagnosis. Discriminate between possible differential diagnoses, justify the decisions taken and describe the processes for evaluating these.
                                        )

                                    [lo13] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.7
                                            [name] => Make clinical judgements and decisions based on the available evidence. Identify and justify relevant management options alone or in conjunction with colleagues, according to level of training and experience.
                                        )

                                    [lo21] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.15
                                            [name] => Retrieve, interpret and record information effectively in clinical data systems (both paper and electronic).
                                        )

                                )

                        )

                    [lo7] => Array
                        (
                            [loSysID] => t|lo|1392579250402
                            [name] => Demonstrate a basic understanding of the knowledge related to clinical skills and be able to apply this knowledge in the clinical reasoning process. 
                            [code] => LO7
                            [course] => Array
                                (
                                    [lo2] => Array
                                        (
                                            [catcode] => CP
                                            [sysid] => MD|lo|1392579792218
                                            [code] => Know
                                            [name] => Can apply core and integrated medical and scientific knowledge to individual patients in clinical practice and to populations and health systems to make judgments and provide optimal, ethical, and patient-centred medical and health care.
                                        )

                                    [lo3] => Array
                                        (
                                            [catcode] => CP
                                            [sysid] => MD|lo|1392579792222
                                            [code] => Intervene
                                            [name] => Can use preventative and therapeutic interventions effectively, legally and ethically to diagnose and ensure quality care and patient safety
                                        )

                                    [lo5] => Array
                                        (
                                            [catcode] => HS
                                            [sysid] => MD|lo|1392579792233
                                            [code] => Understand
                                            [name] => Understands the Australian health care systems, the social determinants of health as well as the variance of health and illness models across diverse cultures and appreciates the need for social justice and advocacy in the delivery of health care.
                                        )

                                )

                            [prof] => Array
                                (
                                    [lo1] => Array
                                        (
                                            [catcode] => SS
                                            [code] => 1.1
                                            [name] => Demonstrate an understanding of established and evolving biological, clinical, epidemiological, social, and behavioural sciences.
                                        )

                                    [lo2] => Array
                                        (
                                            [catcode] => SS
                                            [code] => 1.2
                                            [name] => Apply core medical and scientific knowledge to individual patients, populations and health systems.
                                        )

                                    [lo3] => Array
                                        (
                                            [catcode] => SS
                                            [code] => 1.3
                                            [name] => Describe the aetiology, pathology, clinical features, natural history and prognosis of common and important presentations at all stages of life.
                                        )

                                    [lo8] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.2
                                            [name] => Elicit an accurate, organised and problem-focussed medical history, including family and social occupational and lifestyle features, from the patient, and other sources.
                                        )

                                    [lo9] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.3
                                            [name] => Perform a full and accurate physical examination, including a mental state examination, or a problem-focused examination as indicated.
                                        )

                                    [lo10] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.4
                                            [name] => Integrate and interpret findings from the history and examination, to arrive at an initial assessment including a relevant differential diagnosis. Discriminate between possible differential diagnoses, justify the decisions taken and describe the processes for evaluating these.
                                        )

                                    [lo13] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.7
                                            [name] => Make clinical judgements and decisions based on the available evidence. Identify and justify relevant management options alone or in conjunction with colleagues, according to level of training and experience.
                                        )

                                    [lo16] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.10
                                            [name] => Integrate prevention, early detection, health maintenance and chronic condition management where relevant into clinical practice.
                                        )

                                )

                        )

                    [lo8] => Array
                        (
                            [loSysID] => t|lo|1392579261576
                            [name] => Demonstrate the ability to successfully perform basic life support.
                            [code] => LO8
                            [course] => Array
                                (
                                    [lo2] => Array
                                        (
                                            [catcode] => CP
                                            [sysid] => MD|lo|1392579792218
                                            [code] => Know
                                            [name] => Can apply core and integrated medical and scientific knowledge to individual patients in clinical practice and to populations and health systems to make judgments and provide optimal, ethical, and patient-centred medical and health care.
                                        )

                                )

                            [prof] => Array
                                (
                                    [lo9] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.3
                                            [name] => Perform a full and accurate physical examination, including a mental state examination, or a problem-focused examination as indicated.
                                        )

                                    [lo18] => Array
                                        (
                                            [catcode] => CP
                                            [code] => 2.12
                                            [name] => Recognise and assess deteriorating and critically unwell patients who require immediate care. Perform common emergency and life support procedures, including caring for the unconscious patient and performing CPR.
                                        )

                                )

                        )

                )

        )

)

</pre>

-->



</div>
 


<div class="span10">

<!--
<h4>Topic Description</h4>
<p> </p>
-->
<h4>Topics</h4>
<!--<p>On completion of this topic, students will be expected to be able to:</p>-->
<table class="table-bordered" style="margin-bottom:2em; width:96%;">
<thead>


<tr>
<th width="93" align="left" valign="top" style="padding:5px;" scope="col">&nbsp;</th>
<th width="488" align="left" valign="top" style="padding:5px;" scope="col">&nbsp;</th>
<th width="380" align="left" valign="top" style="padding:5px;" scope="col">Learning Outcomes</th>
</tr>



</thead>




<tbody>




<tr>
<td align="left" valign="top" style="padding:5px; width:3em;" scope="col">MMED8101</td>
  <td align="left" valign="top" style="padding:5px; width: 30em;" scope="col">Doctor and Patient 1A</td>
<td align="left" valign="top" style="padding:5px; width: 22em;" scope="col">LO1<br>
  LO2<br>  
  etc<br />
  
  
</td>
</tr>


<tr>
<td align="left" valign="top" style="padding:5px; width:3em;" scope="col">MMED8102</td>
  <td align="left" valign="top" style="padding:5px; width: 30em;" scope="col">Doctor and Patient 1B</td>
<td align="left" valign="top" style="padding:5px; width: 22em;" scope="col">LO1<br>
LO2<br>
etc</td>
</tr>


<tr>
<td align="left" valign="top" style="padding:5px; width:3em;" scope="col">MMED8103</td>
  <td align="left" valign="top" style="padding:5px; width: 30em;" scope="col">Knowledge of Health and Illness 1A</td>
<td align="left" valign="top" style="padding:5px; width: 22em;" scope="col"><p>LO2<br>
  LO3<br>
  LO5
  <br>
    etc</p></td>
</tr>


<tr>
<td align="left" valign="top" style="padding:5px; width:3em;" scope="col">MMED8105</td>
  <td align="left" valign="top" style="padding:5px; width: 30em;" scope="col">Health Professions and Society 1A</td>
<td align="left" valign="top" style="padding:5px; width: 22em;" scope="col"><br />
  
  
</td>
</tr>


<tr>
<td align="left" valign="top" style="padding:5px; width:3em;" scope="col">MMED8201</td>
  <td align="left" valign="top" style="padding:5px; width: 30em;" scope="col">Doctor and Patient 2</td>
<td align="left" valign="top" style="padding:5px; width: 22em;" scope="col"><br />
  
  
</td>
</tr>


<tr>
<td align="left" valign="top" style="padding:5px; width:3em;" scope="col">MMED8202</td>
  <td align="left" valign="top" style="padding:5px; width: 30em;" scope="col">Introduction to Clinical Performance</td>
<td align="left" valign="top" style="padding:5px; width: 22em;" scope="col"><br />
  
  
</td>
</tr>


<tr>
<td align="left" valign="top" style="padding:5px; width:3em;" scope="col">MMED8302<br>
  MMED8303</td>
  <td align="left" valign="top" style="padding:5px; width: 30em;" scope="col">Clinical Performance 3A<br>
    Clinical Performance 3B</td>
<td align="left" valign="top" style="padding:5px; width: 22em;" scope="col"><br />
  
  
</td>
</tr>


<tr>
<td align="left" valign="top" style="padding:5px; width:3em;" scope="col">MMED8304<br>
MMED8305</td>
  <td align="left" valign="top" style="padding:5px; width: 30em;" scope="col">Health Professions and Society 3A<br>
    Health Professions and Society 3B</td>
<td align="left" valign="top" style="padding:5px; width: 22em;" scope="col"><br />
  
  
</td>
</tr>
<tr>
  <td align="left" valign="top" style="padding:5px; width:3em;" scope="col">MMED8402<br>
MMED8403</td>
  <td align="left" valign="top" style="padding:5px; width: 30em;" scope="col">Clinical Performance 4A<br>
Clinical Performance 4B</td>
  <td align="left" valign="top" style="padding:5px; width: 22em;" scope="col">&nbsp;</td>
</tr>
<tr>
  <td align="left" valign="top" style="padding:5px; width:3em;" scope="col">MMED8404</td>
  <td align="left" valign="top" style="padding:5px; width: 30em;" scope="col">Health Professions and Society 4: EQP</td>
  <td align="left" valign="top" style="padding:5px; width: 22em;" scope="col">&nbsp;</td>
</tr>
<tr>
  <td align="left" valign="top" style="padding:5px; width:3em;" scope="col">MMED8405</td>
  <td align="left" valign="top" style="padding:5px; width: 30em;" scope="col">Professional Induction to Clinical Practice</td>
  <td align="left" valign="top" style="padding:5px; width: 22em;" scope="col">&nbsp;</td>
</tr>

</tbody>



</table>





<h4>&nbsp;</h4>
</div>
</div>
</div>
</body>
</html>
