<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://flextra.flinders.edu.au/test/css/w3.css">
<body>

<div class="w3-container w3-black">
  <h1>New to FLO in 2017: Online Video Platform</h1>
</div>

<div class="w3-row-padding">
  <div class="w3-third">
    <div class="w3-container w3-cell w3-cell-middle">
      <div class="w3-container w3-text-yellow">
        <h2><b>What can I do?</b></h2>
      </div>
      <div class="w3-container">
        <p>You can upload and embed video and audio in any text edit box in FLO using our new online video plaform (Kaltura)
          and it will play on all devices. </p>
        <p>All common, non-proprietary files are accepted, for example: mp4, mp3, wav, avi, mpeg, mov, flv.</p>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-container  w3-cell">
      <div class="w3-container w3-text-light-green">
        <h2><b>Students: Getting Started</b></h2>
      </div>
      <div class="w3-container">
        <ol w3-ul >
          <li>Upload your file to My Media on FLO (above the Log Out menu option). </li>
          <li>From your FLO Topic site, embed it in a text edit box &mdash; such as a forum or assignment.
            <ul>
              <li>Note: media not added to a Topic site will be deleted after 6 months.</li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-container  w3-cell">
      <div class="w3-container  w3-text-orange">
        <h2><b>Teachers: Getting Started</b></h2>
      </div>
      <div class="w3-container">
        <ol>
          <li>Upload you file to your My Media. It is private until you publish it.</li>
          <li>Publish it to the Media Vault for your FLO topic site.</li>
          <li>Embed media in your FLO site. Use any text edit box &mdash; such as a label.</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="w3-row-padding">
  <div class="w3-third">
    <div class="w3-card-2 w3-hover-shadow">
      <div class="w3-container w3-yellow">
        <h2>Play Video</h2>
      </div>
      <div class="w3-container">
        <p>The Newest</p>
      </div>
    </div>
    <br />
    <div class="w3-card-2 w3-hover-shadow">
      <div class="w3-container w3-yellow">
        <h2>Troubleshooting</h2>
      </div>
      <div class="w3-container">
        <p>The Newest</p>
      </div>
    </div>
    <br />
    <div class="w3-card-2 w3-hover-shadow">
      <div class="w3-container w3-yellow">
        <h2>Frequently asked questions</h2>
      </div>
      <div class="w3-container">
        <p>The Newest</p>
      </div>
    </div>
    <br />
    <div class="w3-card-2 w3-hover-shadow">
      <div class="w3-container w3-yellow">
        <h2>Adding a caption files</h2>
      </div>
      <div class="w3-container">
        <p></p>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card-2 w3-hover-shadow">
      <div class="w3-container w3-yellow">
        <h2>Upload to My Media</h2>
      </div>
      <div class="w3-container">
        <p>The Newest</p>
      </div>
    </div>
    <br />
    <div class="w3-card-2 w3-hover-shadow">
      <div class="w3-container w3-lime">
        <h2>Students: Embed and play</h2>
      </div>
      <div class="w3-container">
        <p>The Newest</p>
      </div>
    </div>
    <br />
    <div class="w3-card-2 w3-hover-shadow">
      <div class="w3-container w3-lime">
        <h2>Students: Assignments</h2>
      </div>
      <div class="w3-container">
        <p>The Newest</p>
      </div>
    </div>
    <br />
    <div class="w3-card-2 w3-hover-shadow">
      <div class="w3-container w3-lime">
        <h2>Students: I need more help</h2>
      </div>
      <div class="w3-container">
        <p>FLO student help</p>
        <p>FLO student help</p>
        <p>FLO student help</p>
        <p>FLO student help</p>
        <p>FLO student help</p>
        <p>FLO student help</p>
        <p>FLO student help</p>
        <p>FLO student help</p>
        <p>FLO student help</p>
        <p>FLO student help</p>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card-2 w3-hover-shadow">
      <div class="w3-container w3-amber">
        <h2>Teachers: Media Vault</h2>
      </div>
      <div class="w3-container">
        <p>Ao easy to use.</p>
      </div>
    </div>
    <br />
    <div class="w3-card-2 w3-hover-shadow">
      <div class="w3-container w3-amber">
        <h2>Teachers: Embed to display</h2>
      </div>
      <div class="w3-container">
        <p>Something</p>
      </div>
    </div>
    <br />
    <div class="w3-card-2 w3-hover-shadow">
      <div class="w3-container w3-amber">
        <h2>Teachers: Assignments</h2>
      </div>
      <div class="w3-container">
        <p>Something</p>
      </div>
    </div>
    <br />
    <div class="w3-card-2 w3-hover-shadow">
      <div class="w3-container w3-amber">
        <h2>Teachers: I need more help</h2>
      </div>
      <div class="w3-container">
        <p>Faculty eLearning support</p>
      </div>
    </div>
  </div>

</div>

</body>
</html>
